@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
	font-family: verdana;
}

form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 30vw;
    min-height: 40vh;
    margin: 10vh auto;
    border: solid 1px #ffffff;
}

form h2 {
    margin: 3vh auto; 
}

form input{
    width: 20vw;
    border: 1.5px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    height: 6vh;
    font-size: 16px;
    outline: none;
    display: block;
    margin: 2vh auto;
    text-indent: 2vw;
}

form input::placeholder {
    text-align: center;
}

form button {
    width: 10vw;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 3vh auto;
    height: 5vh;
}

form h4 a {
    color: red;
    text-decoration: none;
}

form h4 a:hover {
    text-decoration: underline;
}

form h4 {
    margin-top: 4vh;
}
h1
{
	text-align: center;
	margin: 2vh auto;
}
